<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
     
</style>
</head>
<body>
        <form class="container w-50" action = "" method = "POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlInput1">Student Name:</label>
                <input type="text" class="form-control" name ='name' id="exampleFormControlInput1" placeholder="Student name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Student Age:</label>
                <input type="text" class="form-control" name = 'age' id="exampleFormControlInput1" placeholder="Age">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Course:</label>
                <input type="text" class="form-control" name = 'course' id="exampleFormControlInput1" placeholder="course">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">City:</label>
                <input type="text" class="form-control" name = 'city' id="exampleFormControlInput1" placeholder="City">
            </div>
            <div class="form-group">
            <label for="exampleFormControlSelect1">Semester:</label>
            <select class="form-control" name = 'semester' id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>

        </form>
</body>
<html>